<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
<strong>Objectives:</strong>
<ul>
    <li>List popular languages for Data Science.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>List popular development environment open source tools used in Data Science.</li>
</ul>

# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python 
2. Julia 
3. R

# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy 
2. Pandas 
3. Keras

# Exercise 6 - Create a markdown cell with a table of Data Science tools

# Data Science Tools

<table style="width:100%">
  <tr>
    <th>Development Environment</th>
  </tr>
  <tr>
    <td>R Studio</td>
  </tr>
  <tr>
    <td>Apache Spark</td>
  </tr>
  <tr>
    <td>TensorFlow</td>
  </tr>
</table>

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

# Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [5]:
# convert 200 mins into hours 
mins = 200
# This will convert 200 minutes to hours by diving by 60

hours = 200/60
 
print('200 mins is equivalent to ' + str(hours) + ' hours')

200 mins is equivalent to 3.3333333333333335 hours

# Exercise 10 - Insert a markdown cell to list Objectives

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author 

Xinrui Zheng